@use'base/variables' as v;
@use'base/mixins' as m;

.testimonios-blog{
    margin-top: 5rem;
    @include m.tablet{ 
        @include m.grid(3,3rem)
    }


    &__blog{
        grid-column: 2/4;
    }

    &__heading{
        @include m.heading(true);
    }
     
}

.testimonial{
    text-align: center;

 



    &__imagen{
width: 20rem;
margin: 0 auto;

    }

    &__contenido{
       margin-top: -10rem;
       padding: 10rem 2rem 2rem 2rem;
        background-color: v.$blanco;

    }
    &__nombre{
        font-size: 2.4rem;
        font-weight: 700;
    }

    &__texto{

        &::before{
            content: '';
            background-image: url(../img/quote.svg);
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            width: 4rem;
            height: 4rem;
            margin-right: 1rem;
          
            

        }
    }
        

}